@model UI.Cadastro.Models.PessoaViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="container-fluid">
    <h1>Criar</h1>

    <h4>Nova Pessoa</h4>
</section>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Nascimento" class="control-label"></label>
                        <input asp-for="Nascimento" class="form-control" maxlength="10" onkeypress="mascaraData(this)"/>
                        <span asp-validation-for="Nascimento" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Cpf" class="control-label"></label>
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Sexo" class="control-label"></label>
                        <input asp-for="Sexo" class="form-control" />
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary float-right" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function mascaraData(val) {
        var pass = val.value;
        var expr = /[0123456789]/;
        var i;
        var tst1, tst2;
        for (i = 0; i < pass.length; i++) {
            var lchar = val.value.charAt(i);
            var nchar = val.value.charAt(i + 1);

            if (i === 0) {
                if ((lchar.search(expr) !== 0) || (lchar > 3)) {
                    val.value = "";
                }

            } else if (i === 1) {

                if (lchar.search(expr) !== 0) {
                    tst1 = val.value.substring(0, (i));
                    val.value = tst1;
                    continue;
                }

                if ((nchar !== '/') && (nchar !== '')) {
                    tst1 = val.value.substring(0, (i) + 1);

                    if (nchar.search(expr) !== 0)
                        tst2 = val.value.substring(i + 2, pass.length);
                    else
                        tst2 = val.value.substring(i + 1, pass.length);

                    val.value = tst1 + '/' + tst2;
                }

            } else if (i === 4) {

                if (lchar.search(expr) !== 0) {
                    tst1 = val.value.substring(0, (i));
                    val.value = tst1;
                    continue;
                }

                if ((nchar !== '/') && (nchar !== '')) {
                    tst1 = val.value.substring(0, (i) + 1);

                    if (nchar.search(expr) !== 0)
                        tst2 = val.value.substring(i + 2, pass.length);
                    else
                        tst2 = val.value.substring(i + 1, pass.length);

                    val.value = tst1 + '/' + tst2;
                }
            }

            if (i >= 6) {
                if (lchar.search(expr) !== 0) {
                    tst1 = val.value.substring(0, (i));
                    val.value = tst1;
                }
            }
        }

        if (pass.length > 10)
            val.value = val.value.substring(0, 10);
        return true;
    }

</script>