@model UI.Cadastro.Models.PessoaViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Edição de uma pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-12 mx-auto">
        <input type="hidden" id="idPessoa" value="@ViewBag.IdPessoa" />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Nascimento" class="control-label"></label>
                    <input asp-for="Nascimento" class="form-control" maxlength="10" onkeypress="mascaraData(this)" />
                    <span asp-validation-for="Nascimento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Sexo" class="control-label"></label>
                    <input asp-for="Sexo" class="form-control" />
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                <input type="submit" value="Salvar" class="btn btn-primary float-right" />
            </div>
        </form>

        <div class="form-group row">
            <div class="col-sm-4">
                <label class="control-label">Tipo</label>
            </div>
            <div class="col-sm-8">
                <select id="cars" class="form-control">
                    <option value="T">Telefone</option>
                    <option value="C">Celular</option>
                    <option value="E">E-mail</option>
                    <option value="S">Web Site</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label class="control-label">Contato</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="txtContato"/>
            </div>
        </div>
        <div class="col-sm-12">
            <a class="btn btn-info">Incluir</a>
        </div>
        <div class="col-sm-12">
            <div id="gridContato">
                
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function (e) {
        alert("aqui");
        MontaContato();
    });

    function MontaContato() {
        var sIdPessoa = document.getElementById("idPessoa").value;
        alert(sIdPessoa);
        $.ajax({
            url: '@Url.Action("MontaGridContatosPessoa","Contato")',
            type: "GET",
            data: { idPessoa: sIdPessoa },
            beforeSend: function() {
                $("#gridContato").html('<h1>Aguarde enquanto carrega</h1>');
            }

        }).done(function(response) {
            $("#gridContato").html(response);

        }).fail(function(response) {
            alert("Erro :" + response);
        });

    }
</script>

